SNOWFLAKE_ACCOUNT=QOC59797
SNOWFLAKE_USER=im386@cornell.edu
SNOWFLAKE_PASSWORD=PLACEHOLDER_REPLACE_ME
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=US_OPEN_CENSUS_DATA__NEIGHBORHOOD_INSIGHTS__FREE_DATASET
SNOWFLAKE_SCHEMA=PUBLIC
ANTHROPIC_API_KEY=PLACEHOLDER_REPLACE_ME
